body{
    background-image: url(Pic/BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    background-attachment: fixed;
}
.card{
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
}
h3{
    text-align: center;
}
p{
    font-weight: bold;
}
input{
    width: 60%;
    float: right;
}
label{
margin-left: 30px;
}
.text-center {
    text-align: center;
}
button{
    margin-top: 35px;
    font-weight: bolder;
}
p,h3,h5,label{
    color: white;
}